@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #f7fcfe;
    font-family: 'PT Sans', sans-serif;
}
a{
        text-decoration:none;
            color: #253b80;
}
.site-content{
       clear: both;
    padding: 20px 0;
    
}
.error-404-section .error-message {
    margin-top: 70px;
    padding: 0 200px;
}
.error-404-section {
    text-align: center;
}
pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    border-radius: 3px;
}
pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}
.bg1{
        background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 2px #cfcfcf;
    padding: 30px;
}
#head{
    background: #253b80 none repeat scroll 0;
        padding: 20px 0 0;
        padding-bottom:15px;
}
.site-title{
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
}
.site-title a{
        color:#fff;
        text-decoration:none;
}
.sidebar .widget-title {
    border-bottom: 1px solid #e7ecef;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
    display:block;
}
.sidebar ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    padding-bottom: 5px;
    padding-left: 12px;
    padding-top: 5px;
    position: relative;
}
.sidebar ul li::before {
    color: #222222;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    left: 0;
    position: absolute;
    top: 6px;
}
.sidebar .widget a, .sidebar .widget a:visited {
    color: #001837;
}
.sidebar  a, .sidebar  a:visited {
    color: #001837;
    text-decoration:none;
}
.breadcrumb{
        align-items: center;
        margin-bottom: 0;
}
.breadcrumb a{
    text-decoration:none;
}
.breadcrumb a span{
        color: rgba(255, 255, 255, 0.76);
        
}
.breadcrumb .fa{
        color: #a0c5e8;
            margin:0 5px;
}
.breadcrumb span{
    color: #a0c5e8; 
}
article.post{
    margin-bottom:30px;
}
article.hentry {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 2px #cfcfcf;
    padding: 30px;
}
.custom-entry-date {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.custom-entry-date > span {
    display: block;
    text-align: center;
}
.custom-entry-date span.entry-month {
    background: #253b80 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    padding: 8px 22px;
    text-transform: uppercase;
    width: 73px;
}
.entry-god{
     background: #253b80 none repeat scroll 0 0;
       color: #ffffff;
}
.custom-entry-date span.entry-day {
    font-size: 38px;
    font-weight: bold;
    line-height: 26px;
    overflow: hidden;
    padding: 12px 0 22px;
    background: #179bd7;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    width: 73px;
    text-shadow: #505ba0 1px 1px, #505ba0 2px 2px, #505ba0 3px 3px, #505ba0 4px 4px, #505ba0 5px 5px, #505ba0 6px 6px, #505ba0 7px 7px, #505ba0 8px 8px, #505ba0 9px 9px, #505ba0 10px 10px, #505ba0 11px 11px, #505ba0 12px 12px, #505ba0 13px 13px, #505ba0 14px 14px, #505ba0 15px 15px, #505ba0 16px 16px, #505ba0 17px 17px, #505ba0 18px 18px, #505ba0 19px 19px, #505ba0 20px 20px, #505ba0 21px 21px, #505ba0 22px 22px, #505ba0 23px 23px, #505ba0 24px 24px, #505ba0 25px 25px, #505ba0 26px 26px, #505ba0 27px 27px, #505ba0 28px 28px, #505ba0 29px 29px, #505ba0 30px 30px, #505ba0 31px 31px, #505ba0 32px 32px, #505ba0 33px 33px, #505ba0 34px 34px, #505ba0 35px 35px, #505ba0 36px 36px, #505ba0 37px 37px, #505ba0 38px 38px, #505ba0 39px 39px, #505ba0 40px 40px, #505ba0 41px 41px, #505ba0 42px 42px, #505ba0 43px 43px, #505ba0 44px 44px, #505ba0 45px 45px, #505ba0 46px 46px, #505ba0 47px 47px, #505ba0 48px 48px, #505ba0 49px 49px, #505ba0 50px 50px, #505ba0 51px 51px, #505ba0 52px 52px, #505ba0 53px 53px, #505ba0 54px 54px, #505ba0 55px 55px, #505ba0 56px 56px, #505ba0 57px 57px, #505ba0 58px 58px;
}
h1, h2 {
    text-decoration: none;
    color: #253B80;
    font-size: 190%;
    font-weight: 600;
}
h3 {
    color: #253B80;
    font-size: 150%;
    font-weight: 600;
}
.btn-primary {
    color: #fff;
    background-color: #253b80;
    border-color: #253b80;
}

.entry-content-wrapper .entry-header .entry-title {
    margin-bottom: 10px;
}
.entry-header .entry-title {
    font-family: "Tahoma",Geneva,sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}
.entry-title a {
    color: #001837;

}
footer.entry-footer {
    margin-bottom: 25px;
}
div.entry-footer {
    margin-bottom: 25px;
}
.single .byline, .group-blog .byline {
    display: inline-block;
}
.entry-footer > span {
    display: inline-block;
    font-size: 14px;
    height: 100%;
    margin-right: 15px;
    text-align: center;
}
.entry-footer > span::before {
    display: inline-block;
    font-family: FontAwesome;
    height: 15px;
    margin-right: 8px;
    content: "";
}
.entry-footer > .byline::before {
    content: "\f007";
}
span.comments-link::before {
    content: "\f0e6";
}
.entry-footer > .cat-links::before {
    content: "\f115";
}

.entry-footer > span a {
    color: #888;
}
.entry-footer .tags-links::before {
    content: "\f02c";
}
.page-content, .entry-content, .entry-summary {
    margin: 15px 0 0;
}

.table th {
    padding: 15px 10px;
    background-color: #253b80;
    border-bottom: 1px solid #32569d;
    text-align: left;
    color: #fff!important;
    font-weight: normal;
    font-style: normal;
    font-size: 1.375em;
    font-weight:600;
}
#seacrh{
    padding-top:20px;
}
.rows{
     display: flex;
    width: 100%;
    justify-content: space-between;
}
.rows .md-10{
    width:90%;
}
.rows .md-2{
    width:9%;
}
#seacrh .btn{
    width: 100%;
}
 .form-group{
        margin-bottom:20px;
    }
.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

@media(max-width:1242px){
    .rows .md-10 {
    width: 80%;
}
.rows .md-2 {
    width: 19%;
}
}
@media(max-width:600px){
    .rows .md-10 {
    width: 70%;
}
.rows .md-2 {
    width: 29%;
}
}
@media(max-width:370px){
    .rows .md-10 {
    width: 70%;
}
.rows .md-2 {
    width: 29%;
}
.rows .md-2 .fa-search{
    display:none;
}
}


















