<!-- templates/about.html -->
{% extends 'base.html' %}
  {% block title %}Регистрация на сайте{% endblock %}

{% block META_description %}Регистрация на сайте{% endblock %}


{% block content %}
<h1>Страница Входа</h1>



<div class="login-form">
    <form  method="post">
        <h2 class="text-center">Войти</h2>  

            {% csrf_token %}
    {% for f in form %}
    <div class="form-group">           
            {{ f }}
            <div class="form-error">{{ f.errors }}</div>
        </div>


{% endfor %}     
        

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
        </div>
        <div class="clearfix">
           
            <a href="#" class="float-right">Забыли пароль?</a>
        </div>        
    </form>
    <p class="text-center"><a href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>


 
{% endblock content %}

