<!-- templates/about.html -->
{% extends 'base.html' %}
 
{% block content %}
<h1>Регионы</h1>



<div class="row">
<div class="col-lg-12 col-xl-12 mg-t-20 mg-lg-t-0">
              <div class="card card-table-one">
                <h6 class="card-title">Районы и городские округа</h6>
                <p class="az-content-text mg-b-20">
                	Согласно Уставу области и Закону «О вопросах административно-территориального устройства Вологодской области», субъект РФ включает следующие административно-территориальные единицы:
                </p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Флаг</th>
                        <th>Герб</th>
                        <th>Код ОКАТО</th>
                        <th>Код ОКТМО</th>
                        <th>Площадь, км²</th>
                        <th>Население, чел.</th>
                        <th>Административный центр</th>
                      </tr>
                    </thead>
                    <tbody>
                    	 {% for i in object_list %}
         				<tr>
                        	<td>{{ i.id }}</td>
                         	<td><b>{{ i.name_region }}</b></td>
                          	<td><img src="{{ i.flag.url }}"  class="img-region" alt=""></td>
                           	<td><img src="{{ i.gerb.url }}"  class="img-region" alt=""></td>
                            <td>{{ i.okato }}</td>
                            <td>{{ i.oktmo }}</td>
                            <td>{{ i.ploshad }}</td>
                            <td>{{ i.col_naselen }}</td>
                            <td>{{ i.name_center }}</td>
                      
                     	 </tr>
      {% endfor %}
                    
                    
                    </tbody>
                  </table>
                </div><!-- table-responsive -->
              </div><!-- card -->
            </div>
</div>


{% endblock content %}