<!-- templates/about.html -->
{% extends 'base.html' %}
 {% load main_tags %}

{% block title %}Результаты поиска{% endblock %}

{% block META_description %}Результаты поиска{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-12">
                    <h1>Результаты поиска</h1>
                    

<ol class="breadcrumb"itemscope itemtype="{% breadcrumb_schema %}">
  {% url 'main' as main %}
  {% breadcrumb_home main 'Главная' %}

  {% url 'BookListView' as BookListView %}
  {% breadcrumb_active search_results _('Результаты поиска') 2 %}

</ol>

                </div>
            </div>
               
             <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <h2>
                                 Найдено результатов: 2,160 <span class="text-navy">“Admin Theme”</span>
                            </h2>
                            <small>Request time  (0.23 seconds)</small>

                            <div class="search-form">
                                <form action="{% url 'search_results' %}" method="get">
                                    <div class="input-group">
                                        <input type="text" name="q" type="text" placeholder="Введите текст поиска..." class="form-control form-control-lg">
                                        <div class="input-group-btn">
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                Найти
                                            </button>
                                        </div>
                                    </div>

                                </form>

                            </div>

                             {% for news in object_list %}
                            <div class="hr-line-dashed"></div>
                                <div class="search-result">
                                   <h3>{{ news.h1 }}</h3>
                                 <a href="{% url 'DetailNews' news.parent.slug news.slug %}" class="search-link">{{ news.slug }}</a>
                                 <p>
                                    {{ news.post }}
                                </p>
                             </div>
    

                              {% endfor %}
                           
                           


                            <div class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                                    <button class="btn btn-white">1</button>
                                    <button class="btn btn-white  active">2</button>
                                    <button class="btn btn-white">3</button>
                                    <button class="btn btn-white">4</button>
                                    <button class="btn btn-white">5</button>
                                    <button class="btn btn-white">6</button>
                                    <button class="btn btn-white">7</button>
                                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>

{% endblock content %}