<!-- templates/home.html -->

{% extends 'base.html' %}

{% load blog_tags %}

{% block title %}Блог{% endblock %}

{% block META_description %}Описание блога{% endblock %}



{% block content %}
<h1>Блог</h1>




<div class="row">
<div class="col-lg-12 col-xl-12 mg-t-20 mg-lg-t-0">
              <div class="card card-table-one">
                <h6 class="card-title">Категории</h6>
               
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Кол. статей</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                         {% for i in dataset %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td><b><a href="{{ i.get_absolute_url }}">{{ i.h1 }}</a></b></td>
                            <td><b> {% total_count_posts i.id %}  </b></td>
                      
                         </tr>
                        {% endfor %}
                    
                    
                    </tbody>
                  </table>
                </div><!-- table-responsive -->
              </div><!-- card -->
            </div>
</div>




{% endblock content %}